/* Additional styling for onCourse. */

body {
  background-color: #0c164f;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Play', sans-serif;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.25rem;
}

a, a:hover {
  color: #E14C92;
}

.input-group-text {
  color: #0c164f;
}

.navbar-light {
  background-color: #7649fe;
  color: white;
}

.navbar-brand {
  font-family: 'Play', sans-serif;
  font-size: 30px;
}

.btn-primary {
  background-color: #7649fe;
  color: white;
}

.btn-drop {
  color: #7649fe;
  font-size: 20px;
}

.card-body {
  color: #0c164f;
}

.detail {
  font-family: 'Play', sans-serif;
  font-weight: bold;
  font-size: 20px;
}
